# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Uploaded PDFs
uploads/

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Tests
tests/
app/tests/